.wrapper {
  position: relative;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 700px;
  width: 100%;

  .inner {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    .carousel__item {
      position: relative;
      display: inline-flex;
      width: 100%;
      height: 100%;
      .carousel__itemImage {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .carousel__itemText {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        animation: showText linear 0.4s;

        img {
          width: 100%;
        }
      }

      @keyframes showText {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  .carousel__btns {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;

    display: flex;

    .btn__prev,
    .btn__next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #111;
      color: #fff;
      font-size: var(--font-size16);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .btn__next {
      margin-left: 10px;
    }
  }

  .carousel__images {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 20px;

    display: flex;

    .carousel__images1,
    .carousel__images2 {
      position: relative;

      width: 200px;
      height: 80px;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        bottom: 0;
        left: 0;

        display: none;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size12);
        width: 100%;
        height: 40%;
        background-color: #111;
        color: #fff;
        transition: opacity linear 1s;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      &:hover span {
        opacity: 1;
        display: flex;
      }
    }

    .carousel__images1 {
      margin-right: 10px;
    }
  }
}
.header__res {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #fff;

  .header__resTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

    .header__resTopInfo {
      display: flex;
      margin: 10px 0;
      font-size: var(--font-size13);
      .header__topInfoItem {
        display: flex;
        margin-left: 20px;
        i {
          margin-right: 10px;
        }
        p {
          color: red;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .header__resTopIcon {
      display: flex;
      font-size: var(--font-size13);
      color: #bbbbbb;

      i {
        margin-left: 15px;

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .header__resBottom {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .header__bottomNav__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 60%;
      }
    }

    .header__btnMenu {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      margin-right: 20px;
      font-size: var(--font-size20);
      color: #ed703a;
      cursor: pointer;
    }
  }
  .header__menuRes {
    // position: absolute;
    // z-index: 99;
    // top: 100%;
    // right: 0;
    // animation: showMenuRes linear 0.3s;

    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;

    .header__menuResItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: var(--font-size14);
      margin: 0 25px;
      height: 44px;
      cursor: pointer;
    }

    .header__menuResActive {
      color: #ed703a !important;
    }

    @keyframes showMenuRes {
      from {
        top: 0;
        opacity: 0;
      }
      to {
        top: 100%;
        opacity: 1;
      }
    }
  }
}

.nav {
  position: absolute;
  top: 0;

  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    .header__top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0;

      .header__topInfo {
        display: flex;
        font-size: var(--font-size13);
        color: #bbbbbb;

        .header__topInfoQuestion {
        }

        .header__topInfoItem {
          display: flex;
          margin-left: 20px;
          i {
            margin-right: 10px;
          }
          p {
            color: red;

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
      .header__topIcon {
        display: flex;
        font-size: var(--font-size13);
        color: #bbbbbb;

        i {
          margin-left: 15px;

          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    .header__bottom {
      display: flex;
      justify-content: space-between;
      height: 90px;

      .header__bottomNav {
        position: relative;

        display: flex;
        align-items: center;
        width: 93%;
        height: 100%;
        background-color: #fff;
        padding-left: 20px;

        .header__bottomNav__logo {
          width: 127px;
          height: 34px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .header__bottomNav__list {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          font-size: var(--font-size14);
          padding-left: 20px;

          a {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            color: #444444;
            font-weight: var(--font-weight-semiMedium);

            span {
              display: flex;
              align-items: center;
              height: 80%;
              padding: 0 20px;
              border-right: 0.5px solid #ddd;
            }

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: transparent;
              top: -4px;
            }

            &:hover {
              color: #ed703a;
              cursor: pointer;
            }

            &:hover::after {
              display: block;
              background-color: #ed703a;
            }

            &:last-child span {
              border-right: none;
              color: #bbbbbb;
            }
          }
        }

        .header__btnMenu {
          display: none;
          font-size: var(--font-size20);
          margin-right: 30px;
          cursor: pointer;
        }

        .header__menuRes {
          position: absolute;
          z-index: 99;
          top: 100%;
          right: 0;
          animation: showMenuRes linear 0.3s;

          display: flex;
          flex-direction: column;
          background-color: #fff;
          width: 300px;

          .header__menuResItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: var(--font-size14);
            margin: 0 25px;
            height: 44px;
            cursor: pointer;
          }

          .header__menuResActive {
            color: #ed703a !important;
          }

          @keyframes showMenuRes {
            from {
              top: 0;
              opacity: 0;
            }
            to {
              top: 100%;
              opacity: 1;
            }
          }
        }

        .formSerach {
          position: absolute;
          top: 100%;
          left: 0;

          display: flex;
          align-items: center;
          width: 100%;
          height: 70px;
          background-color: #ed703a;
          padding: 20px;
          font-size: var(--font-size20);

          i {
            &:last-child {
              color: #ddd;
              font-size: var(--font-size24);

              &:hover {
                cursor: pointer;
                color: #fff;
              }
            }
          }

          input {
            flex: 1;
            height: 100%;
            border: none;
            outline: none;
            background-color: #ed703a;
            margin: 0 10px;
            font-size: var(--font-size14);
            font-weight: var(--font-weight-light);
            color: #fff;

            &::placeholder {
              color: #fff;
              font-weight: var(--font-weight-light);
            }
          }
        }

        .showFromSearch {
          animation: showSearchForm linear 0.2s;
        }
        .hideFromSearch {
          animation: hideSearchForm linear 0.2s;
        }
        @keyframes showSearchForm {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        @keyframes hideSearchForm {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }
      .active {
        color: #ed703a !important;
        &::after {
          background-color: #ed703a !important;
        }
      }

      .header__bottomSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -4px;
        width: 6%;
        height: 100%;
        background-color: #f5f5f5;
        cursor: pointer;

        i {
          font-size: var(--font-size20);
        }

        &::before {
          content: "";
          display: block;
          height: 100%;
          width: 12px;
          position: absolute;
          left: -12px;
          top: 2px;
          background-color: #f5f5f5;

          transform: skewX(0deg) skewY(-25deg);
        }
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .carousel {
    position: relative;
    height: 455px;
  }
  .header__bottomNav {
    justify-content: space-between !important;
    width: 100%;

    .header__btnMenu {
      display: block !important;
    }
  }
  .header__bottomNav__list {
    display: none !important;
  }
  .carousel__images1,
  .carousel__images2 {
    position: relative;

    width: 115px !important;
    height: 46px !important;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .nav {
    display: none !important;
  }
  .header__res {
    display: flex;
  }
  .carousel {
    position: relative;
    height: 245px;
  }

  .carousel__images1,
  .carousel__images2 {
    position: relative;

    width: 100px !important;
    height: 40px !important;
  }
}
